.tab-bar-wrapper{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #9a6e3a;
  padding-bottom: env(safe-area-inset-bottom);
}


.tab-bar-content{
  position: relative;
  display: flex;
  flex-direction: row;

  .tab-bar-item{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4px;

    text{
      font-size: 12px;
      line-height: 1;
    }
  }
}
