@tailwind base;
@tailwind components;
@tailwind utilities;

page,
view,
text,
image,
scroll-view {
  box-sizing: border-box;
}

page {
  background-color: #f0fdf4;
  min-height: 100%;
  padding: 8px 16px 0;
}

html,
body {
  background-color: #f0fdf4;
}

.taro_page {
  background-color: #f0fdf4;
  min-height: 100%;
}
